
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">Usuario: {{usuario?.nombre}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <button class="btn btn-success" type="button">Agregar Review</button>
                <button class="btn btn-success" type="button">Ver Mis Reviews</button>
            </div>
            <button class="btn btn-outline-success" (click)="modificar()" type="button">Modificar Informacion</button>
            <button class="btn btn-outline-success" (click)="salir()" type="button">Salir</button>
        </div>
    </nav>

