<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/imagen-maiz-01.jpg" class="d-block w-100" height="600">
            <div class="carousel-caption d-none d-md-block">
                <h1>Maiz</h1>
                <h3>Descubre la importancia del maíz en Guatemala</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/imagen-maiz-02.jpg" class="d-block w-100" height="600">
            <div class="carousel-caption d-none d-md-block">
                <h1>Maiz</h1>
                <h3>Descubre la importancia del maíz en Guatemala</h3>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<hr>
<div class="container">
    <h1 id="titulo">Indice</h1>
    <ul class="list-group">
        <li class="list-group-item"><a
                class="link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
                href="#indice1"> ¿Que es el Maíz? </a></li>
        <li class="list-group-item"><a
                class="link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
                href="#indice2"> Origen del Maiz </a></li>
        <li class="list-group-item"><a
                class="link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
                href="#indice3"> Tipos de Maiz </a></li>
        <li class="list-group-item"><a
                class="link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
                href="#indice4"> Video complemento </a></li>
    </ul>
</div>
<hr>
<div class="container">
    <h1 id="indice1">¿Que es el maiz?</h1>
    <p> El maíz es una planta herbácea que pertenece a la familia de las gramíneas. Es uno de los cultivos más
        importantes
        en todo el mundo y se ha cultivado desde hace miles de años en América, donde se originó. Se caracteriza
        por
        tener
        un tallo grueso y alto, que puede alcanzar hasta tres metros de altura. Sus hojas son largas y
        estrechas, y
        están
        dispuestas de forma alternada a lo largo del tallo. La planta produce una inflorescencia en forma de
        espiga,
        que
        contiene numerosos granos o semillas de maíz.</p>
    <p>El maíz es un alimento básico en la dieta de muchas culturas, especialmente en América Latina, donde se
        utiliza para la elaboración de diversos platos tradicionales, como las tortillas, los tamales y el atol.
        También se utiliza como alimento para animales y como materia prima para la producción de productos
        industriales como el jarabe de maíz y el almidón de maíz. Es rico en nutrientes como carbohidratos,
        proteínas, vitaminas y minerales, y es una fuente
        importante de energía en la dieta humana y animal. Además, su cultivo es muy importante desde un punto de
        vista económico, ya que es uno de los principales cultivos alimentarios del mundo.
    </p>
</div>
<hr>
<div class="container">
    <h1 id="indice2">Origen del Maiz</h1>
    <p> El maíz se originó en América, específicamente en la región de Mesoamérica, que comprende lo que hoy en día son
        México, Guatemala, Belice, Honduras, El Salvador y Nicaragua. Se cree que el maíz fue domesticado a partir de
        una especie silvestre llamada teocintle, que todavía se encuentra en algunas regiones de México y Guatemala.</p>
    <p>Los primeros vestigios arqueológicos de maíz cultivado se han encontrado en México y datan de alrededor de 5000
        a.C. A partir de ahí, el cultivo del maíz se expandió a otras regiones de América, y se convirtió en un alimento
        fundamental para muchas culturas precolombinas, como la maya, la azteca y la inca.
    </p>
</div>
<hr>
<div class="container">
    <h1 id="indice3">Tipos de Maiz</h1>
    <p> Existen varios tipos de maíz, que se diferencian por su color, sabor, textura y uso. Algunos de los tipos de
        maíz más comunes son:</p>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Maíz blanco</div>
                Es el tipo de maíz más común y se utiliza para la elaboración de tortillas, tamales, atoles, entre
                otros.
                <br>
                <img class="p-1"
                    src="https://scontent.fgua3-5.fna.fbcdn.net/v/t1.6435-9/67778457_1601477623318238_1920886237229481984_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=9267fe&_nc_ohc=DQvoLjUv5BMAX8Wp8WN&_nc_ht=scontent.fgua3-5.fna&oh=00_AfAW1js-A40Hq0chUmEsZr8RAVwEhfiItb8i1utnKDX3Ew&oe=644BCFA2"
                    width="300">
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Maíz amarillo</div>
                Es un tipo de maíz que se utiliza principalmente para la producción de alimentos balanceados para
                animales y para la elaboración de alimentos industriales, como el jarabe de maíz.
                <br>
                <img class="p-1" src="../../../assets/maiz-amarillo.jpg" width="300">
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Maíz morado</div>
                Es un tipo de maíz originario de Perú, que se utiliza para la elaboración de platos tradicionales como
                el chicha morada.
                <br>
                <img class="p-1" src="../../../assets/maiz-morado.jpg" width="300">
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Maíz azul</div>
                Es un tipo de maíz que se utiliza para la elaboración de tortillas y tamales en algunas regiones de
                México y Centroamérica.
                <br>
                <img class="p-1" src="../../../assets/maiz-azul.jpg" width="300">
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Maíz dentado</div>
                Es un tipo de maíz que se caracteriza por tener una muesca en la parte superior de cada grano, y se
                utiliza para la producción de harina de maíz.
                <br>
                <img class="p-1" src="../../../assets/maiz-dentado.png" width="300">
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Maíz dulce</div>
                Es un tipo de maíz que se utiliza principalmente para la elaboración de alimentos dulces, como postres y
                cereales.
                <br>
                <img class="p-1" src="../../../assets/maiz-dulce.jpg" width="300">
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Maíz para poporopos</div>
                Es un tipo de maíz que se utiliza exclusivamente para la producción de poporopos o tambien llamados
                palomitas de maíz.
                <br>
                <img class="p-1" src="../../../assets/maiz-poporopos.jpg" width="300">
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Maíz criollo</div>
                Es un tipo de maíz nativo de Guatemala y otras regiones de América Latina, que se cultiva en pequeñas
                fincas y se utiliza para la producción de alimentos tradicionales.
                <br>
                <img class="p-1" src="../../../assets/maiz-criollo.jpg" width="300">
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Maíz híbrido</div>
                También se cultiva en Guatemala y se produce a partir del cruce de variedades de maíz para obtener
                características deseadas como mayor productividad, resistencia a enfermedades y plagas, y calidad del
                grano.
                <br>
                <img class="p-1" src="../../../assets/maiz-hibrido.png" width="300">
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Maíz cónico</div>
                Es un tipo de maíz utilizado para la elaboración de pinol y otros alimentos.
                <br>
                <img class="p-1" src="../../../assets/maiz-conico.jpg" width="300">
            </div>
        </li>
    </ol>
</div>
<hr>
<div class="container">
    <h1 id="indice4" class="display-6">Mira el siguiente video para complementar la informacion</h1>
    <iframe width="1000" height="500" src="https://www.youtube.com/embed/OD0GdvbMPAo" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

</div>
<a class="btn btn-outline-warning float-end" href="#titulo">Regresar</a>