<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/carousel-1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>Maiz</h1>
                <h3>Descubre que es el maiz y el valor de este en Guatemala</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/carousel-2.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<hr>
<div class="container">
    <h1>¿Que es el maiz?</h1>
    <p> El maíz es una planta herbácea que pertenece a la familia de las gramíneas. Es uno de los cultivos más
        importantes
        en todo el mundo y se ha cultivado desde hace miles de años en América, donde se originó. Se caracteriza
        por
        tener
        un tallo grueso y alto, que puede alcanzar hasta tres metros de altura. Sus hojas son largas y
        estrechas, y
        están
        dispuestas de forma alternada a lo largo del tallo. La planta produce una inflorescencia en forma de
        espiga,
        que
        contiene numerosos granos o semillas de maíz.</p>
    <p>El maíz es un alimento básico en la dieta de muchas culturas, especialmente en América Latina, donde se
        utiliza para la elaboración de diversos platos tradicionales, como las tortillas, los tamales y el atol.
        También se utiliza como alimento para animales y como materia prima para la producción de productos
        industriales como el jarabe de maíz y el almidón de maíz. Es rico en nutrientes como carbohidratos,
        proteínas, vitaminas y minerales, y es una fuente
        importante de energía en la dieta humana y animal. Además, su cultivo es muy importante desde un punto de
        vista económico, ya que es uno de los principales cultivos alimentarios del mundo.
    </p>
</div>
<hr>
<div class="container">
    <h1>Origen del Maiz</h1>
    <p> El maíz se originó en América, específicamente en la región de Mesoamérica, que comprende lo que hoy en día son
        México, Guatemala, Belice, Honduras, El Salvador y Nicaragua. Se cree que el maíz fue domesticado a partir de
        una especie silvestre llamada teocintle, que todavía se encuentra en algunas regiones de México y Guatemala.</p>
    <p>Los primeros vestigios arqueológicos de maíz cultivado se han encontrado en México y datan de alrededor de 5000
        a.C. A partir de ahí, el cultivo del maíz se expandió a otras regiones de América, y se convirtió en un alimento
        fundamental para muchas culturas precolombinas, como la maya, la azteca y la inca.
    </p>
</div>
<hr>
<div class="container">
    <h1 class="display-6">Mira el siguiente video para complementar la informacion</h1>
    <iframe width="1000" height="500" src="https://www.youtube.com/embed/OD0GdvbMPAo" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>